---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
const imageUrl = `${import.meta.env.BASE_URL}/assets/bio-foto_2400px.avif`;

export interface Props {
  title: string;
  socialImageTitle?: string;
}

const { title, socialImageTitle = title } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(
  `${import.meta.env.BASE_URL}/assets/${socialImageTitle}_800px.jpg`,
  Astro.url,
);
---

<Layout title={title}>
  <meta property="og:title" content={title} slot="head" />
  <meta property="og:type" content="website" slot="head" />
  <meta property="og:url" content={canonicalURL} slot="head" />
  <meta property="og:image" content={socialImageURL} slot="head" />
  <main>
    <Nav />
    <section>
      <div>
        <h2>EN</h2>
        <p>
          Tom van der Bijll (1993), trained as a cultural anthropologist and
          sociologist, has been photographing since he was fifteen years old,
          back then with a borrowed camera. He mainly focuses on street
          photography, both analogue and digital.
        </p>
        <p>For information and prints: info@tomvanderbijll.com</p>
      </div>

      <img src={imageUrl} width="400" height="400" />
      <div>
        <h2>NL</h2>
        <p>
          Tom van der Bijll (1993), opgeleid als cultureel
          antropoloog-socioloog, fotografeert vanaf zijn vijftiende, toen nog
          met een geleende camera. Richt zich met name op straatfotografie,
          zowel analoog als digitaal.
        </p>
        <p>Voor informatie en fotoprints: info@tomvanderbijll.com</p>
      </div>
    </section>
  </main>
</Layout>
<style>
  section h2 {
    margin: 0;
    font-weight: 300;
  }

  section {
    max-width: 130ch;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  section > div:first-of-type {
    grid-column: 1;
    grid-row: 2;
  }

  section > img {
    grid-column: 2;
    grid-row: 1 / span 2;

    display: block;
    object-fit: cover;
    clip-path: circle();

    margin-inline: auto;
    background-color: lightgray;
  }

  section > div:last-of-type {
    grid-column: 3;
    grid-row: 2;
  }

  @media (min-width: 768px) {
    section {
      display: grid;
      grid-template-columns: 1fr min-content 1fr;
      grid-template-rows: 180px;
      column-gap: 2rlh;
    }

    section > img {
      margin-inline: 0;
    }
  }
</style>
