---
import Layout from "../layouts/Layout.astro";
import "../styles/nav.css";
import "../styles/navigation-name-reset.css";
const imageUrl = `${import.meta.env.BASE_URL}assets/bio-foto_2400px.avif`;

export interface Props {
  title: string;
  socialImageTitle?: string;
}

const { title, socialImageTitle = title } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(
  `${import.meta.env.BASE_URL}assets/${socialImageTitle}_800px.jpg`,
  Astro.url,
);
---

<Layout title={title}>
  <meta property="og:title" content={title} slot="head" />
  <meta property="og:type" content="website" slot="head" />
  <meta property="og:url" content={canonicalURL} slot="head" />
  <meta property="og:image" content={socialImageURL} slot="head" />
  <main>
    <nav class="Navigation">
      <a class="Navigation-link" href="/">
        <img class="Navigation-logo" src="/logo.png" alt="logo" /></a
      >
      <h2 class="Navigation-heading">
        <a class="Navigation-name" href="/#photos"
          >tom van der bijl<span>l</span></a
        >
      </h2>
      <div class="Navigation-menu">
        <a class="Navigation-item" href="/contact">contact</a>
        <a class="Navigation-item" href="https://instagram.com/tomvanderbijll"
          >instagram</a
        >
      </div>
    </nav>
    <section>
      <img src={imageUrl} width="400" height="400" />
      <div class="Contact-text-container">
        <div class="Contact-english">
          <h2>EN</h2>
          <p>
            Tom van der Bijll (1993), living in Amsterdam, trained as a cultural
            anthropologist and sociologist, has been photographing since he was
            fifteen years old, back then with a borrowed camera. He mainly
            focuses on street photography, both analogue and digital.
          </p>
          <p>
            For information and prints: <a href="mailto:info@tomvanderbijll.com"
              >info@tomvanderbijll.com</a
            >
          </p>
        </div>
        <div>
          <h2>NL</h2>
          <p>
            Tom van der Bijll (1993), wonend in Amsterdam, opgeleid als
            cultureel antropoloog en socioloog, fotografeert vanaf zijn
            vijftiende, toen nog met een geleende camera. Richt zich met name op
            straatfotografie, zowel analoog als digitaal.
          </p>
          <p>
            Voor informatie en fotoprints: <a
              href="mailto:info@tomvanderbijll.com">info@tomvanderbijll.com</a
            >
          </p>
        </div>
      </div>
    </section>
    <footer>web design with ♡ by rogier de ruijter</footer>
    <footer>
      <nav>
        <a href="/contact">contact</a>
        <a href="https://instagram.com/tomvanderbijll">instagram</a>
      </nav>
    </footer>
  </main>
</Layout>
<style>
  footer:first-of-type {
    text-align: center;
    padding: 1rem;
    padding: 1rlh;
    padding-block-start: 0;
  }
  footer:last-of-type {
    background-color: var(--background-color);
    padding: 0.5em;
    padding-block-start: 1rem;
  }

  @media (min-width: 768px) {
    footer:last-of-type {
      display: none;
    }
  }

  footer:last-of-type > nav {
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  footer:last-of-type > nav a {
    text-decoration: none;
    display: block;
    color: var(--text-color);
    font-weight: 100;
  }
</style>
<style>
  main {
    min-height: 100vh;
    min-height: 100svh;
  }

  section h2 {
    margin: 0;
    font-weight: 300;
    font-size: 1rem;
  }

  section p {
    margin-block: 1rlh;
    line-height: 1.4;
    font-size: 1.2rem;
  }

  .Contact-english {
    margin-block-end: 3lh;
  }

  section p:first-of-type {
    margin-block-start: 0.2rlh;
  }

  section {
    margin-inline: auto;
    padding-inline: 1rem;
  }

  section > .Contact-text-container {
    grid-column: 2;
  }

  section > img {
    grid-column: 1;

    display: block;
    object-fit: cover;
    clip-path: circle();

    margin-inline: auto;
    background-color: lightgray;
    width: 100%;
  }

  @media (min-width: 768px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1.683fr;
      column-gap: 2rlh;
    }

    .Contact-text-container {
      margin-trim: block;
    }

    section > img {
      width: 100%;
      height: auto;
    }

    section > div > p:first-of-type:first-letter {
      -webkit-initial-letter: 2;
      initial-letter: 2;
      margin-right: 0.5rem;
      font-weight: 100;
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-2.5rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-2.5rem);
    }
  }
</style>
