---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

const imageUrl = `${import.meta.env.BASE_URL}assets/bio-foto_2400px.avif`;

export interface Props {
  title: string;
  socialImageTitle?: string;
}

const { title, socialImageTitle = title } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(
  `${import.meta.env.BASE_URL}assets/${socialImageTitle}_800px.jpg`,
  Astro.url,
);
---

<Layout title={title}>
  <meta property="og:title" content={title} slot="head" />
  <meta property="og:type" content="website" slot="head" />
  <meta property="og:url" content={canonicalURL} slot="head" />
  <meta property="og:image" content={socialImageURL} slot="head" />
  <main>
    <nav>
      <div class="main-nav">
        <a href="/"> <img id="logo" src="/logo.png" alt="logo" /></a>
        <h2><a href="/#photos">tom van der bijl<span>l</span></a></h2>
        <div>
          <a id="contact" href="/contact">contact</a>
        </div>
      </div>
      <aside>
        <img src="assets/instagram-logo.svg" height="24" width="24" />
        <a href="https://instagram.com">instagram</a>
      </aside>
    </nav>
    <section>
      <div>
        <h2>EN</h2>
        <p>
          Tom van der Bijll (1993), trained as a cultural anthropologist and
          sociologist, has been photographing since he was fifteen years old,
          back then with a borrowed camera. He mainly focuses on street
          photography, both analogue and digital.
        </p>
        <p>
          For information and prints: <a href="mailto:info@tomvanderbijll.com"
            >info@tomvanderbijll.com</a
          >
        </p>
      </div>

      <img src={imageUrl} width="400" height="400" />
      <div>
        <h2>NL</h2>
        <p>
          Tom van der Bijll (1993), opgeleid als cultureel
          antropoloog-socioloog, fotografeert vanaf zijn vijftiende, toen nog
          met een geleende camera. Richt zich met name op straatfotografie,
          zowel analoog als digitaal.
        </p>
        <p>
          Voor informatie en fotoprints: <a
            href="mailto:info@tomvanderbijll.com">info@tomvanderbijll.com</a
          >
        </p>
      </div>
    </section>
    <Footer />
  </main>
</Layout>
<style>
  nav {
    position: sticky;
    top: 0;
    font-size: 1rem;
  }

  .main-nav {
    background-color: var(--variant-2);
    display: grid;
    padding-inline: 1em;
    padding-block: 0.25em;
    align-items: center;
    z-index: 1;
    border-block-end: 1px solid black;
  }

  nav a {
    text-decoration: none;
    display: block;
    color: var(--text-color);
    font-weight: 100;
  }

  .main-nav > div {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: 1em;
  }

  nav h2:hover span {
    margin-inline-start: 4px;
    transition: all 0.5s ease-out;
  }

  #logo {
    height: 2em;
  }

  .main-nav > h2 {
    cursor: default;
    font-size: 1.5em;
    font-weight: 200;
    grid-column: 1/3;
    justify-self: center;
    grid-row: 1;
  }

  .main-nav > a {
    width: min-content;
    grid-row: 1;
    grid-column: 1;
  }

  @media (min-width: 768px) {
    nav {
      font-size: 1.5rem;
    }
  }
  .main-nav h2 > a {
    color: var(--text-color);
  }

  .main-nav > a {
    width: min-content;
    grid-row: 1;
    grid-column: 1;
  }

  nav > aside {
    padding-inline: 1em;
    padding-block: 0.2em;
    width: 100%;
    grid-column: 1 / span 2;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4px;
  }

  nav > aside > img {
    aspect-ratio: 1;
    width: 1lh;
    height: 1lh;
  }
</style>
<style>
  main {
    min-height: 100vh;
    min-height: 100svh;
  }

  section h2 {
    margin: 0;
    font-weight: 300;
  }

  section {
    max-width: 130ch;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  section > div:first-of-type {
    grid-column: 1;
    grid-row: 2;
  }

  section > img {
    grid-column: 2;
    grid-row: 1 / span 2;

    display: block;
    object-fit: cover;
    clip-path: circle();

    margin-inline: auto;
    background-color: lightgray;
    width: 100%;
  }

  section > div:last-of-type {
    grid-column: 3;
    grid-row: 2;
  }

  @media (min-width: 768px) {
    section {
      display: grid;
      grid-template-columns: 1fr min-content 1fr;
      grid-template-rows: 220px;
      column-gap: 2rlh;
    }

    section > img {
      margin-inline: 0;
      width: auto;
    }
  }
</style>
