---
import NavigationPage from "../layouts/NavigationPage.astro";
import Photo from "../components/Photo.astro";
import * as BerlijnDuitsland2022 from "./fragments/berlijn-duitsland-2022.md";
import * as FunatsuJapan2017 from "./fragments/funatsu-japan-2017.md";
import * as FransumNederland2017 from "./fragments/fransum-nederland-2017.md";
import * as Tanabe2Japan2017 from "./fragments/tanabe-2-japan-2017.md";
import * as DarelkebdaniMarokko2015 from "./fragments/darelkebdani-marokko-2015.md";
import * as JeruzalemIsrael2014 from "./fragments/jeruzalem-israel-2014.md";
import * as Amsterdam2Nederland2022 from "./fragments/amsterdam-2-nederland-2022.md";
import * as Ardabil2Iran2016 from "./fragments/ardabil-2-iran-2016.md";
import * as Isfahan2Iran2016 from "./fragments/isfahan-2-iran-2016.md";
import * as FujikawaguchikoJapan2017 from "./fragments/fujikawaguchiko-japan-2017.md";
import * as LissabonPortugal2023 from "./fragments/lissabon-portugal-2023.md";
import * as LissabonPortugal2015 from "./fragments/lissabon-portugal-2015.md";
import * as TanabeJapan2017 from "./fragments/tanabe-japan-2017.md";
import * as Geiranger2Noorwegen2022 from "./fragments/geiranger-2-noorwegen-2022.md";
import * as Isfahan3Iran2016 from "./fragments/isfahan-3-iran-2016.md";
import * as TokyoJapan2017 from "./fragments/tokyo-japan-2017.md";
import * as SeoulKorea2019 from "./fragments/seoul-korea-2019.md";
import * as Isfahan4Iran2016 from "./fragments/isfahan-4-iran-2016.md";
import * as Amsterdam2Nederland2017 from "./fragments/amsterdam-2-nederland-2017.md";
import * as Lissabon2Portugal2023 from "./fragments/lissabon-2-portugal-2023.md";
import * as EnnaItalie2022 from "./fragments/enna-italie-2022.md";
import * as PortoPortugal2015 from "./fragments/porto-portugal-2015.md";
import * as AmsterdamNederland2017 from "./fragments/amsterdam-nederland-2017.md";
import * as AarhusDenemarken2023 from "./fragments/aarhus-denemarken-2023.md";
import * as NoordpolderzijlNederland2017 from "./fragments/noordpolderzijl-nederland-2017.md";
import * as GeirangerNoorwegen2022 from "./fragments/geiranger-noorwegen-2022.md";
import * as ArdabilIran2016 from "./fragments/ardabil-iran-2016.md";
import * as IsfahanIran2016 from "./fragments/isfahan-iran-2016.md";
import * as MadridSpanje2013 from "./fragments/madrid-spanje-2013.md";
import * as Tokyo2Japan2017 from "./fragments/tokyo-2-japan-2017.md";

interface PhotoLayout {
  title: string;
  sizes: string;
  loading?: "eager" | "lazy";
  objectPosition?: string;
  media?: string;
}

const photos: PhotoLayout[] = [
  {
    sizes: "66vw",
    title: BerlijnDuitsland2022.frontmatter.title,
    loading: "eager",
  },
  {
    sizes: "33vw",
    title: FunatsuJapan2017.frontmatter.title,
    loading: "eager",
    objectPosition: "center 100%",
  },
  {
    sizes: "33vw",
    title: FransumNederland2017.frontmatter.title,
    loading: "eager",
  },
  {
    sizes: "66vw",
    title: Tanabe2Japan2017.frontmatter.title,
    loading: "eager",
  },
  {
    sizes: "50vw",
    title: DarelkebdaniMarokko2015.frontmatter.title,
    loading: "eager",
  },
  {
    sizes: "50vw",
    title: JeruzalemIsrael2014.frontmatter.title,
    loading: "eager",
  },
  {
    sizes: "100vw",
    title: Amsterdam2Nederland2022.frontmatter.title,
    loading: "eager",
  },
  {
    sizes: "100vw",
    title: Ardabil2Iran2016.frontmatter.title,
    loading: "eager",
  },
  {
    sizes: "50vw",
    title: Isfahan2Iran2016.frontmatter.title,
  },
  {
    sizes: "50vw",
    title: FujikawaguchikoJapan2017.frontmatter.title,
  },
  {
    sizes: "100vw",
    title: LissabonPortugal2023.frontmatter.title,
  },
  {
    sizes: "66vw",
    title: LissabonPortugal2015.frontmatter.title,
  },
  {
    sizes: "33vw",
    title: TanabeJapan2017.frontmatter.title,
  },
  {
    sizes: "33vw",
    title: Geiranger2Noorwegen2022.frontmatter.title,
  },
  {
    sizes: "100vw",
    title: Isfahan3Iran2016.frontmatter.title,
  },
  {
    sizes: "75vw",
    title: TokyoJapan2017.frontmatter.title,
  },
  {
    sizes: "66vw",
    title: SeoulKorea2019.frontmatter.title,
  },
  {
    sizes: "33vw",
    title: Isfahan4Iran2016.frontmatter.title,
  },
  {
    sizes: "100vw",
    title: Amsterdam2Nederland2017.frontmatter.title,
  },
  {
    sizes: "100vw",
    title: Lissabon2Portugal2023.frontmatter.title,
  },
  {
    sizes: "66vw",
    title: EnnaItalie2022.frontmatter.title,
  },
  {
    sizes: "33vw",
    title: PortoPortugal2015.frontmatter.title,
  },
  {
    sizes: "75vw",
    title: AmsterdamNederland2017.frontmatter.title,
  },
  {
    sizes: "33vw",
    title: AarhusDenemarken2023.frontmatter.title,
  },
  {
    sizes: "33vw",
    title: NoordpolderzijlNederland2017.frontmatter.title,
  },
  {
    sizes: "66vw",
    title: GeirangerNoorwegen2022.frontmatter.title,
  },
  {
    sizes: "100vw",
    title: ArdabilIran2016.frontmatter.title,
  },
  {
    sizes: "100vw",
    title: IsfahanIran2016.frontmatter.title,
  },
  {
    sizes: "100vw",
    title: MadridSpanje2013.frontmatter.title,
  },
  {
    sizes: "100vw",
    title: Tokyo2Japan2017.frontmatter.title,
  },
];
---

<NavigationPage title="tom: fotos" socialImageTitle="tanabe-japan-2017">
  <section>
    <div>
      {
        photos.map((photo: PhotoLayout, index: number) => (
         <a
            hx-boost="true"
            hx-trigger="click"
            hx-target={`a[href='${import.meta.env.BASE_URL}/fragments/${photo.title}']`}
            hx-swap="outerHTML transition:true"
            hx-select="dialog"
            href={`${import.meta.env.BASE_URL}/fragments/${photo.title}`}
            style={{
              "--photo-grid-area": `img${index + 1}`,
              "--photo-object-position": photo.objectPosition 
            }}
          >
            <Photo
              images={[
                {
                  title: photo.title,
                  sizes: photo.sizes,
                  media: photo.media,
                },
              ]}
              loading={photo.loading}
            />
          </a>
        ))
      }
    </div>
    <script>
      document.querySelector("div > a img").style.viewTransitionName = "dialog";
    </script>
  </section>
</NavigationPage>

<style>
  section {
    container-type: inline-size;
    margin-block-end: 32px;
  }

  section[id="detail-page"] img {
    view-transition-name: dialog;
  }
  
  section > div {
    display: grid;
    grid-template-columns: repeat(4, 0.42075fr) repeat(2, 0.5fr);
    grid-template-rows: repeat(54, 20vw);
    grid-template-rows: repeat(54, 21.5cqw);
    grid-template-areas:
      "img1 img1 img1 img1 img2 img2"
      "img1 img1 img1 img1 img2 img2"
      "img3 img3 img4 img4 img4 img4"
      "img3 img3 img4 img4 img4 img4"
      "img5 img5 img5 img6 img6 img6"
      "img5 img5 img5 img6 img6 img6"
      "img5 img5 img5 img6 img6 img6"
      "img7 img7 img7 img7 img7 img7"
      "img7 img7 img7 img7 img7 img7"
      "img7 img7 img7 img7 img7 img7"
      "img8 img8 img8 img8 img8 img8"
      "img8 img8 img8 img8 img8 img8"
      "img8 img8 img8 img8 img8 img8"
      "img9 img9 img9 img10 img10 img10"
      "img9 img9 img9 img10 img10 img10"
      "img9 img9 img9 img10 img10 img10"
      "img11 img11 img11 img11 img11 img11"
      "img11 img11 img11 img11 img11 img11"
      "img11 img11 img11 img11 img11 img11"
      "img12 img12 img12 img12 img13 img13"
      "img12 img12 img12 img12 img14 img14"
      "img15 img15 img15 img15 img15 img15"
      "img15 img15 img15 img15 img15 img15"
      ". img16 img16 img16 img16 ."
      ". img16 img16 img16 img16 ."
      ". img16 img16 img16 img16 ."
      ". img16 img16 img16 img16 ."
      "img17 img17 img17 img17 img18 img18"
      "img17 img17 img17 img17 img18 img18"
      "img19 img19 img19 img19 img19 img19"
      "img19 img19 img19 img19 img19 img19"
      "img19 img19 img19 img19 img19 img19"
      "img20 img20 img20 img20 img20 img20"
      "img20 img20 img20 img20 img20 img20"
      "img20 img20 img20 img20 img20 img20"
      "img21 img21 img21 img21 img22 img22"
      "img21 img21 img21 img21 img22 img22"
      ". img23 img23 img23 img23 ."
      ". img23 img23 img23 img23 ."
      ". img23 img23 img23 img23 ."
      ". img23 img23 img23 img23 ."
      "img24 img24 img26 img26 img26 img26"
      "img25 img25 img26 img26 img26 img26"
      "img27 img27 img27 img27 img27 img27"
      "img27 img27 img27 img27 img27 img27"
      "img27 img27 img27 img27 img27 img27"
      "img28 img28 img28 img28 img28 img28"
      "img28 img28 img28 img28 img28 img28"
      "img28 img28 img28 img28 img28 img28"
      "img29 img29 img29 img29 img29 img29"
      "img29 img29 img29 img29 img29 img29"
      "img29 img29 img29 img29 img29 img29"
      "img30 img30 img30 img30 img30 img30"
      "img30 img30 img30 img30 img30 img30"
      "img30 img30 img30 img30 img30 img30";
    gap: 8px;
  }

  a {
    grid-area: var(--photo-grid-area);
  }
</style>
