---
import Layout from "./Layout.astro";

export interface Props {
  title: string;
  socialImageTitle?: string;
}

const { title, socialImageTitle = title } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(`${import.meta.env.BASE_URL}/assets/${socialImageTitle}_800px.jpg`, Astro.url);
---

<Layout title={title}>
  <meta property="og:title" content={title} slot="head" />
  <meta property="og:type" content="website" slot="head" />
  <meta property="og:url" content={canonicalURL} slot="head" />
  <meta property="og:image" content={socialImageURL} slot="head" />
  <main>
    <nav>
      <a href="/portofolio/"> <img src="/portofolio/logo.png" alt="logo" /></a>
      <!-- TODO: make title into component and reuse it here and in the index -->
      <h2><a href="/portofolio/home">tom van der bijl<span>l</span></a></h2>
      <div>
        <a href="/portofolio/bio">bio</a>
        <!-- TODO: place correct href when instagram is ready -->
        <!--        <a href="https://instagram.com"
          ><img src="/portofolio/assets/instagram-logo.svg" /></a
        > -->
      </div>
    </nav>
    <section>
      <slot />
    </section>
  </main>
</Layout>
<style>
  main {
    display: grid;
    grid-template-rows: 54px 1fr;
    row-gap: 24px;
  }

  section {
    max-width: 1600px;
    margin-inline: auto;
    padding-inline: 2vw;
    width: 96vw;
  }

  nav {
    border-block-end: 1px solid black;
    position: sticky;
    top: 0;
    background-color: var(--variant-2);
    display: grid;
    padding-inline: 1em;
    align-items: center;
    z-index: 1;
  }

  h2 {
    cursor: default;
  }

  nav > a > img {
    height: 32px;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 2.4em;
    }
    nav > a > img {
      height: 48px;
    }
  }

  h2 a {
    text-decoration: none;
  }

  h2:hover span {
    margin-inline-start: 4px;
    transition: all 0.5s ease-out;
  }

  nav h2 {
    font-weight: 200;
    grid-column: 1/3;
    justify-self: center;
    grid-row: 1;
  }

  nav div {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  nav div a,
  h2 > a {
    color: var(--text-color);
  }

  nav div a:last-of-type {
    line-height: 0;
  }

  nav div a img {
    width: 24px;
  }

  nav > a {
    width: min-content;
    grid-row: 1;
    grid-column: 1;
  }
</style>
