---
import Photo from "../components/Photo.astro";
import Layout from "./Layout.astro";
import "../styles/nav.css";

const { frontmatter } = Astro.props;
const title = frontmatter.title;
const aspectRatio = `${frontmatter.width} / ${frontmatter.height}`;

let photoWidth, photoHeight, photoMaxHeight, pageHeight, enhancePageHeight;

if (frontmatter.width > frontmatter.height) {
  photoWidth = `calc(80vh * ${frontmatter.width} / ${frontmatter.height})`;
  photoHeight = "auto";
} else {
  photoWidth = "auto";
  photoHeight = "100%";
  pageHeight = "80vh";
  enhancePageHeight = "80svh";
}

const anim = {
  old: {
    name: "slide-down",
    duration: "200ms",
    easing: "ease-in",
    fillMode: "backwards",
  },
  new: {
    name: "slide-up",
    duration: "200ms",
    delay: "50ms",
    easing: "ease-out",
    fillMode: "backwards",
  },
};

const myFade = {
  forwards: anim,
  backwards: anim,
};
---

<Layout title={title}>
  <main>
    <nav>
      <a href="/"> <img id="logo" src="/logo.png" alt="logo" /></a>
      <h2><a href="/#photos">tom van der bijl<span>l</span></a></h2>
      <div>
        <a href="https://instagram.com/tomvanderbijll">instagram</a>
        <a id="contact" href="/contact">contact</a>
      </div>
    </nav>
    <section id="detail-page">
      <Photo images={[{ title }]} />
      <h1 transition:animate={myFade}>
        {frontmatter.description}
      </h1>
    </section>
    <style>
      footer {
        background-color: var(--background-color);
        padding: 0.5em;
      }

      @media (min-width: 768px) {
        footer {
          display: none;
        }
      }

      footer > nav {
        display: flex;
        gap: 1em;
        justify-content: center;
      }

      footer > nav a {
        text-decoration: none;
        display: block;
        color: var(--text-color);
        font-weight: 100;
      }
    </style>
    <footer>
      <nav>
        <a href="/contact">contact</a>
        <a href="https://instagram.com/tomvanderbijll">instagram</a>
      </nav>
    </footer>
  </main>
</Layout>

<style>
  nav > a:first-of-type {
    width: 44px;
    grid-row: 1;
    grid-column: 1;
  }
</style>
<style
  define:vars={{
    aspectRatio,
    photoWidth,
    photoHeight,
    photoMaxHeight,
    pageHeight,
    enhancePageHeight,
  }}
>
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(2.5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(2.5rem);
    }
  }
  main {
    height: 100vh;
  }

  #detail-page {
    display: grid;
    grid-template-rows: min-content 1fr;
    justify-content: center;
  }

  #detail-page {
    & :global(img) {
      margin-inline: auto;
    }
  }

  h1 {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 1.4rem;
    }
  }

  #detail-page :global(img) {
    height: var(--pageHeight);
    height: var(--enhancePageHeight);
    --photo-border-radius: 0;
    --photo-aspect-ratio: var(--aspectRatio);
    --photo-width: var(--photoWidth);
    --photo-height: var(--photoHeight);
    --photo-max-height: var(--photoMaxHeight);
  }
</style>
